.home-bg-cont {
  background-color: #ffffff;
  height: 100vh;
}

.home-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.not-found-img {
  width: 300px;
}

.home-h1 {
  color: #171f46;
  font-size: 35px;
}

.not-found-h1 {
  font-weight: 500;
  margin: 0;
}

.not-found-p {
  color: #64748b;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}
